html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 600px;
}

.blog-header {
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
}

.blog-header h1 {
  font-family: Gadget, "Arial Black", sans-serif;
  margin-bottom: 5px;
}

.blog-header p { margin: 0; }

.blog-header #blog-logo {
  height: 100px;
  float: left;
}

.content {
  clear: both;
  border-radius: 10px;
  background-color: #EEE;
  margin-top: 10px;
  padding: 10px 10px 5px;
}

.content h2, .content h3 {
  margin: 0 0 5px;
}

.content .baking-photo {
  float: left;
  margin: 5px;
  width: 200px;
}

footer {
  width: 600px;
  min-height: 60px;
  margin-top: 5px;
  padding: 10px 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #DDD;
}

.header-badge {
    float: right;
}

#recommended-content {
  opacity: 0;
  height: 0;
  padding: 5px;
  border-radius: 10px;
  background-color: #FFF;
}
#recommended-content.active {
  opacity: 1;
  height: auto;
}
#recommended-content img {
  height: 100px;
  width: 100px;
  float: right;
  border: 0;
}

td {
  border: 1px solid #CCCCCC;
}

thead {
  background-color: #ACA;
}

.recipe img {
  height: 100px;
  float: left;
}

form label {
  display: block;
}

.highlight {
  background-color: #fbff14;
}